[data-stylesheets~="4_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="4_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
[data-stylesheets~="5_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="5_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
[data-stylesheets~="6_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="6_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
[data-stylesheets~="7_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="7_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
[data-stylesheets~="8_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="8_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
[data-stylesheets~="9_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="9_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
[data-stylesheets~="10_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="10_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
[data-stylesheets~="11_id.css"] .audio {
  background-color: #000;
  margin: 0;
}
[data-stylesheets~="11_id.css"] .bling {
  color: #000;
  font-size: 18px;
}
